[tool.poetry]
name = "xqute"
version = "0.1.3"
description = "A job management system for python"
authors = ["pwwang <pwwang@pwwang.com>"]
license = "MIT"
homepage = "https://github.com/pwwang/xqute"
repository  = "https://github.com/pwwang/xqute"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
simplug = "^0.2"
diot = "^0.1"
aiofiles = "^0"
psutil = "^5"
rich = "^12"
uvloop = "^0"

[tool.poetry.dev-dependencies]
pytest = "^7"
pytest-cov = "^4"
pytest-asyncio = "^0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
addopts = "-vv --cov=xqute --cov-report xml:.coverage.xml --cov-report term-missing"
filterwarnings = [
    # "error"
]
console_output_style = "progress"
junit_family = "xunit1"
asyncio_mode = "auto"

[tool.black]
line-length = 79
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
